#featured-projects {
	padding: 2rem;

	@include respond-to-width(1024px) {
		@include flex-layout(row, wrap);

		& h2 {
			flex: 0 0 100%;
		}
	}
}

.article {
	@extend %container;
	font-size: 1.1rem;
	line-height: 1.8;
	text-align: left;

	& img {
		width: 100%;
		height: auto;
	}

	@include respond-to-width(1024px) {
		@include flex-layout(column, nowrap);
		flex-basis: 30%;
		margin: 0 auto;

		&:not(:last-child) {
			margin-right: 2rem;
		}
	}
}

.article-link {
	@extend %action-link;
	width: 12rem;
	margin: 2rem 0;
	padding: 0.6rem 0.4rem;

	&:hover,
	&:focus {
		outline: $primary-outline;
	}

	@include respond-to-width(1024px) {
		margin-bottom: 0;
	}
}

.article:last-of-type > .article-link {
	margin-bottom: 0;
}
