// Base - global styles
* {
	outline: none;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

html {
	@include respond-to-width(600px) {
		font-size: 120%;
	}

	@include respond-to-width(1024px) {
		font-size: 100%;
	}

	@include respond-to-w-and-h(2200px, 1200px) {
		font-size: 150%;
	}

	@include respond-to-height(2000px) {
		font-size: 250%;
	}
}

ul,
li {
	list-style: none;
}

a {
	color: $secondary-color;
	text-decoration: none;
}

button {
	border: none;
	@include respond-to-width(1024px) {
		cursor: pointer;
	}
}

img {
	display: block;
}

.hidden-visually {
	@include hidden-visually;
}
