// FLEXBOX
@mixin flex-layout($direction, $wrap) {
	display: flex;
	flex-flow: $direction $wrap;
}

@mixin flex-alignment($justify, $align) {
	display: flex;
	justify-content: $justify;
	align-items: $align;
}

@mixin flex-row-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin flex-column-center {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

@mixin sticky-footer {
	display: flex;
	flex-flow: column nowrap;
	min-height: 100vh;
}

// BG images
@mixin background-properties {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

@mixin pop-on-hover {
	transform: scale(1.2);
	transition: transform 0.3s ease;
}

// Visually hidden
@mixin hidden-visually {
	position: absolute;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	overflow: hidden;
	width: 1px;
	height: 1px;
	white-space: nowrap;
}

// Media queries
@mixin respond-to-width($media) {
	@media only screen and (min-width: $media) {
		@content;
	}
}

@mixin respond-to-height($media) {
	@media only screen and (min-height: $media) {
		@content;
	}
}

@mixin respond-to-w-and-h($width, $height) {
	@media only screen and (min-width: $width) and (min-height: $height) {
		@content;
	}
}
